# =======================================
# 🌐 ASP.NET CONFIGURATION
# (Staging & Production)
# =======================================
ASPNETCORE_ENVIRONMENT=Development
#ASPNETCORE_URLS: "https://+:${API_CONTAINER_HTTPS_PORT:-8443};http://+:${API_CONTAINER_HTTP_PORT:-8080}"
ASPNETCORE_Kestrel__Certificates__Default__Path=/https/devcert.pfx
ASPNETCORE_Kestrel__Certificates__Default__Password=devpass

# JWT
JWT__Issuer=EcomWebsite
JWT__Audience=EcomWebsiteUsers
JWT__SecretKey=ChangeMe_dev_secret_32chars_min_2025_XYZ
JWT__TokenExpiryInHours=24

# HTTP Logging
HTTPLOGGING__ENABLED=true
HTTPLOGGING__INCLUDEREQUESTBODY=true
HTTPLOGGING__INCLUDERESPONSEBODY=true
HTTPLOGGING__REQUESTBODYLOGLIMIT=4096
HTTPLOGGING__RESPONSEBODYLOGLIMIT=4096

# HybridCache
HYBRIDCACHE__ENABLED=true
HYBRIDCACHE__EXPIRATIONSECONDS=60
HYBRIDCACHE__LOCALCACHEEXPIRATIONSECONDS=60
HYBRIDCACHE__FLAGS=None

# Database
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=.;Database=App;Trusted_Connection=True;MultipleActiveResultSets=true
CONNECTIONSTRINGS__MYUSERSQLCONN=Server=localhost;Port=3306;Database=ecom_users;User=root;Password=CaVN2004
CONNECTIONSTRINGS__MYBLOGSQLCONN=Server=localhost;Port=3306;Database=ecom_blogs;User=root;Password=CaVN2004



# =======================================
# 🐳 DOCKER-COMPOSE CONFIGURATION
# =======================================
DOCKER_PROJECT_NAME=AppName
DOCKER_COMPOSE_PROFILES=AppProfile
DOCKER_COMPOSE_NETWORK=AppNetwork


# =======================================
# 🧭 API SERVICE
# =======================================
API_COMPOSE_PROFILE=Api
API_CONTAINER_NAME=blogs-api
API_IMAGE_NAME=tranquil/blogs-api
API_IMAGE_TAG=latest
API_IMAGE_PULL_POLICY=if_not_present

API_HTTP_PORT=5095
API_HTTPS_PORT=5096
API_CONTAINER_HTTP_PORT=8080
API_CONTAINER_HTTPS_PORT=8443

API_CERTIFICATE_PASSWORD=
API_CERTIFICATE_PATH=

# =======================================
# 🛢️ DATABASE - MySQL
# =======================================
MYSQL_COMPOSE_PROFILE=Database
MYSQL_CONTAINER_NAME=MySQL
MYSQL_IMAGE_NAME=mysql
MYSQL_IMAGE_TAG=8.4
MYSQL_PULL_POLICY=if_not_present

MYSQL_CONTAINER_PORT=3306
# MYSQL_EXPOSE_PORT=3306
MYSQL_HOST_PORT=3307

MYSQL_HOST=mysql
MYSQL_ROOT_PASSWORD=CaVN2004
MYSQL_DATABASE=ecom_blogs
MYSQL_USER=appuser
MYSQL_PASSWORD=CaVN2004


# =======================================
# 🛢️ DATABASE - PostgreSQL
# =======================================


# =======================================
# 🧭 MONITORING - ASPIRE DASHBOARD
# =======================================
ASPIRE_COMPOSE_PROFILE=Dashboard
ASPIRE_CONTAINER_NAME=AspireDashboard
ASPIRE_IMAGE_NAME=mcr.microsoft.com/dotnet/nightly/aspire-dashboard
ASPIRE_IMAGE_TAG=latest
ASPIRE_IMAGE_PULL_POLICY=if_not_present

ASPIRE_HOST_UI_PORT=18888
ASPIRE_HOST_OTLP_PORT=18889

DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true
DOTNET_DASHBOARD_APPLICATION_NAME="App Monitoring Dashboard"

# =======================================
# 🧠 CACHE - REDIS
# =======================================
REDIS_COMPOSE_PROFILE=Cache
REDIS_CONTAINER_NAME=Redis
REDIS_IMAGE_NAME=redis
REDIS_IMAGE_TAG=latest
REDIS_IMAGE_PULL_POLICY=if_not_present

REDIS_CONTAINER_PORT=6379
# REDIS_EXPOSE_PORT=6379
REDIS_HOST_PORT=16379

REDIS_HOST=redis
REDIS_PASSWORD= 


# =======================================
# 📩 MESSAGE BROKER - RABBITMQ
# =======================================
RABBITMQ_COMPOSE_PROFILE=Message
RABBITMQ_CONTAINER_NAME=RabbitMQ
RABBITMQ_IMAGE_NAME=rabbitmq
RABBITMQ_IMAGE_TAG=3.13-management
RABBITMQ_IMAGE_PULL_POLICY=if_not_present

RABBITMQ_CONTAINER_PORT=5672
# RABBITMQ_EXPOSE_PORT=5672
RABBITMQ_HOST_PORT=15672

RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
